/.github/
/env/
/node_modules/
/specs/
/tests/
/.dockerignore
/.gcloudignore
/.gitignore
/.git/
/.prettierignore
/.prettierrc
/Dockerfile
/example.js
/jsconfig.json
/manifest.json
/README.md
/types.d.ts
/.gauge/
/logs/
/reports
/tmp/
